{% extends 'base.html' %}


{% block title %}
    {{ title }}::{{block.super}}
{% endblock %}

{% block sidebar %}
<div class = "list-group">
    {% for item in category %}
    <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{ item.title }}</a>
    {% endfor %}
</div>
{% endblock %}


{% block content %}
{% for item in news %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{ item.category }}
    </div>
    <div class="card-body">
       <div class ="media">
           {% if item.photo %}
           <img src="{{item.photo.url}}" alt="" width="350" class="mr-3">
              {% else %}
              <img src=" https://picsum.photos/id/237/200/300" alt="" class =mr-3">
           {% endif %}
            <div class = "media-body">
                <h5 class="card-title {% cycle 'text-danger' 'text-success'%}">{{ item.title }}</h5>
                {% autoescape off %}
                <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                {% endautoescape  %}
                <a href="#" class="btn btn-primary">Read more...</a>
            </div>
       </div>
    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>

{% endfor %}
{% endblock %}








